html {
  font-size: 14px;
  color: #000;
  font-weight: 400;
  height: 100%;
}

body {
  font-family: "Pt Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  margin: 0;
  padding: 0;
  background-color: #F7F6F4;
}

.container {
  width: 100%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}

@media screen and (max-width: 1000px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (max-width: 768px) {
  .container {
    max-width: 480px;
  }
}

@media screen and (max-width: 480px) {
  .container {
    max-width: 320px;
  }
}

.search_bar {
  margin: 100px 100px 0px 100px;
}

.search_bar .search_bar_upper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 38px;
  width: 100%;
}

.search_bar .search_bar_upper .search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 637px;
  height: 38px;
  left: 99px;
  top: 89px;
}

.search_bar .search_bar_upper .search .search_item {
  width: 100%;
  padding-left: calc(20px + 26px);
  background: #F7F6F4;
  border: 1px solid #C4C4C4;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
}

.search_bar .search_bar_upper .search .search_item:focus {
  border: 1px solid #C4C4C4;
}

.search_bar .search_bar_upper .search .search_icon {
  position: absolute;
  padding-left: 12px;
  width: 14px;
  height: 14px;
  top: 12px;
}

.search_select {
  width: 190px;
  margin: 0 10px;
  border: 1px solid #C4C4C4;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.search_select_content.active {
  display: block;
  position: absolute;
  width: 190px;
  z-index: 200;
  -webkit-box-shadow: 0px 20px 25px -5px rgba(26, 32, 44, 0.1), 0px 10px 10px -5px rgba(26, 32, 44, 0.04);
          box-shadow: 0px 20px 25px -5px rgba(26, 32, 44, 0.1), 0px 10px 10px -5px rgba(26, 32, 44, 0.04);
}

.search_select_content {
  margin-top: 6px;
  display: none;
}

.search_select_content .search_select_content_item {
  padding: 18px 20px 0px 20px;
  background-color: #fff;
  z-index: 20;
}

.search_select_content .search_select_content_item:last-child {
  padding-bottom: 20px;
}

.controls {
  height: 100%;
  width: 100%;
  padding: 10px 10px 9px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  cursor: pointer;
}

.controls .controls_btn {
  width: 100%;
  position: relative;
  margin: 0;
}

.controls .controls_img {
  opacity: 1;
  right: 10px;
  position: absolute;
  width: 6px;
  height: 3px;
  padding-top: calc(18px/2);
}

.controls .controls_img.active {
  top: 18px;
  -webkit-transform: rotateX(180deg);
          transform: rotateX(180deg);
}

input[type="checkbox"] {
  opacity: 0;
}

input[type="checkbox"]:checked + label::before {
  opacity: 1;
  background-color: #FCE66F;
}

.search_select_content_item {
  position: relative;
}

.checkbox_name {
  top: 18px;
  left: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  width: 16px;
  height: 16px;
  border: 1px solid #C4C4C4;
}

.checkbox_name::before {
  padding: 0 2px;
  opacity: 0;
  content: url("./img/Vector.png");
}

.checkbox_name .checkbox_text {
  padding-left: 15px;
}

.checkbox_name .checkbox_text:hover {
  color: #FF0D29;
}

.search_btn {
  width: 154px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 9px 12px 9px 13px;
  font-size: 12px;
  border: none;
  line-height: 20px;
  cursor: pointer;
}

.search_btn .btn_icon {
  width: 12px;
  height: 12px;
  padding-left: 12px;
}

.search_bar_down {
  margin: 32px 0 0px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 38px;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.search_bar_down .search_bar_down_item {
  margin-right: 10px;
  position: relative;
}

.search_bar_down .search_bar_down_item:first-child {
  margin-right: 13px;
  min-width: 45px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.search_bar_down .down_checkbox {
  top: 0px;
  left: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  width: 16px;
  height: 16px;
  border: 1px solid #C4C4C4;
}

.search_bar_down .down_checkbox::before {
  padding: 0 2px;
  opacity: 0;
  content: url("./img/Vector.png");
}

.search_bar_down .down_checkbox .checkbox_text {
  padding-left: 10px;
}

.search_bar_down .down_checkbox .checkbox_text:hover {
  color: #FF0D29;
}

.search_bar_down .down_btn {
  height: 100%;
  border: none;
  padding: 9px 12px 9px 13px;
}

.search_bar_down .down_btn .btn_icon {
  width: 12px;
  height: 12px;
  padding-left: 12px;
}

.result {
  z-index: 100;
  margin: 20px 100px 84px 100px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
  grid-gap: 23px;
}

.result_item {
  padding: 21px 0 25px 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #fff;
  border: 1px solid #E5E5E5;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.result_item .result_item_left {
  margin-right: 25px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.result_item .result_item_center {
  padding-right: 25px;
  padding-right: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.result_item .result_item_center .result_item_center_header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
}

.result_item .result_item_center .result_item_center_header:last-child {
  width: 100%;
}

.result_item .result_item_center .result_item_center_header .price {
  color: #FF0D29;
  font-size: 15px;
  line-height: 20px;
  font-weight: bold;
  padding-right: 16px;
}

.result_item .result_item_center .result_item_center_header .cl {
  position: relative;
}

.result_item .result_item_center .result_item_center_header .cl:hover .hide_room {
  display: block;
}

.result_item .result_item_center .result_item_center_header .room {
  cursor: pointer;
  padding: 5px 16px 5px 0px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 0px 2px rgba(94, 119, 157, 0.25);
          box-shadow: 0px 0px 2px rgba(94, 119, 157, 0.25);
  border-radius: 32px;
}

.result_item .result_item_center .result_item_center_header .room:active .room_clue {
  display: block;
  position: absolute;
}

.result_item .result_item_center .result_item_center_header .room .room_icon {
  padding-left: 17px;
  padding-right: 9px;
}

.result_item .result_item_center .result_item_center_header .hide_room {
  display: none;
}

.result_item .result_item_center .result_item_center_header .room_clue {
  -webkit-transition: .2s;
  transition: .2s;
  z-index: 200;
  -webkit-box-shadow: 0px 10px 15px rgba(26, 32, 44, 0.1), 0px 4px 6px rgba(26, 32, 44, 0.05);
          box-shadow: 0px 10px 15px rgba(26, 32, 44, 0.1), 0px 4px 6px rgba(26, 32, 44, 0.05);
  background-color: #2d2d2dbb;
  padding: 12px 18px;
  color: #fff;
  position: absolute;
  top: 40px;
  left: 50%;
  width: 220%;
}

.result_item .result_item_center .result_item_center_header .room_clue::after {
  top: -20px;
  content: '';
  position: absolute;
  left: 10px;
  border: 10px solid transparent;
  border-bottom: 10px solid #2d2d2dbb;
}

.result_item .result_item_center .result_item_center_header .room:hover .room_clue {
  display: block;
  opacity: 1;
  position: absolute;
}

.result_item .result_item_center .result_item_center_header .name {
  padding-top: 6px;
}

.result_item .result_item_center .result_item_center_header .name .data_room {
  color: #9B9B9B;
}

.result_item .result_item_center .result_item_center_header .name .data_room::before {
  content: ', ';
  color: black;
}

.result_item .result_item_center .center_content {
  padding-top: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.result_item .result_item_center .center_content p {
  margin-top: 0;
  margin-bottom: 5px;
}

.result_item .result_item_center .center_content .metrics::before {
  content: ' ';
}

.result_item .result_item_center .center_content .metrics::after {
  content: ' ';
}

.result_item .result_item_center .center_content .center_content_left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.result_item .result_item_center .center_content .center_content_left::after {
  content: '';
  margin-left: 20px;
  border-left: 1px solid #C4C4C4;
}

.result_item .result_item_center .center_content .center_content_right {
  margin-left: 20px;
}

.result_item .result_item_center .center_adress {
  padding-top: 16px;
  line-height: 150%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.result_item .result_item_center .center_adress p {
  margin: 0;
}

.result_item .result_item_center .center_adress .adres_icon {
  margin-left: -23px;
  margin-right: 8px;
  margin-top: 5px;
}

.result_item .result_item_right .result_item_right_header_item.red {
  background-color: #FFE4E4;
  margin: 0;
  padding: 6px 9px 6px 0px;
  color: #DD4C5D;
  min-width: 151px;
}

.result_item .result_item_right .result_item_right_header_item.red .elipse_red {
  padding-left: 9px;
  padding-right: 8px;
}

.result_item .result_item_right .result_item_right_header_item.blue {
  background-color: #D6F5FF;
  margin: 0;
  padding: 6px 9px 6px 0px;
  color: #0291C1;
  min-width: 151px;
}

.result_item .result_item_right .result_item_right_header_item.blue .elipse_blue {
  padding-left: 9px;
  padding-right: 8px;
}

.result_item .result_item_right .result_item_right_header_item.grey {
  background-color: #EDEDED;
  margin: 0;
  padding: 6px 9px 6px 0px;
  color: #686868;
  min-width: 151px;
}

.result_item .result_item_right .result_item_right_header_item.grey .elipse_grey {
  padding-left: 9px;
  padding-right: 8px;
}

.result_item .result_item_right .result_item_right_header_item.dark {
  background-color: #CCCCCC;
  margin: 0;
  padding: 6px 9px 6px 0px;
  color: #686868;
  min-width: 151px;
}

.result_item .result_item_right .result_item_right_header_item.dark .elipse_dark {
  padding-left: 9px;
  padding-right: 8px;
}

.result_item .result_item_right .result_item_right_content {
  margin: 27px 0 17px 0;
}

.result_item .result_item_right .result_item_right_date {
  margin: 0;
  color: #9B9B9B;
  font-size: 13px;
  line-height: 20px;
  font-weight: lighter;
}

.down_checkboxx {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  width: 16px;
  height: 16px;
  border: 1px solid #C4C4C4;
}

.down_checkboxx::before {
  padding: 0 2px;
  opacity: 0;
  content: url("./img/Vector.png");
}

.down_checkboxx .checkbox_text {
  padding-left: 10px;
}

.down_checkboxx .checkbox_text:hover {
  color: #FF0D29;
}
/*# sourceMappingURL=style.css.map */