// Size 
$mainFontColor: #000;
$mainFontSize: 14px;
$mainFontWeight: 400;
$mainFont: 'Pt Sans', sans-serif;


$desk: 1200px;
$smDesk: 1000px;
$tableWidth: 768px;
$phoneWidth: 480px;
$smPhoneWidth: 320px;

// Main color
$danger-color: #FF0D29;
$dark-grey-color: #9B9B9B;

